<div class="reminders">
  <h2 class="reminders-heading">Reminders {{> add-button}}</h2>
  <ul class="reminders-list">
    {{#each reminders}}
    <li class="reminder">
      {{content}} -- {{date}}
    </li>
    {{/each}}
  </ul>
</div>
