#keep-in-touch-embed {
  background-color: #FFF;
  margin-top: 17px;
  margin-bottom: 0px;
  padding: 12px;
  
  h2 {
    color: rgb(75, 79, 86);
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    font-weight: normal;
  }

  $bulletSize: 1.5em;
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      padding-left: $bulletSize + 0.5em;
      position: relative;
      margin: 5px auto;
      min-height: $bulletSize;
    }
    li:before {
      font-size: $bulletSize;
      position: absolute;
      left: 0;
      top: 0;
    }
    li.reminder:before{
      content:'\0042';
    }
    li.note:before{
      content:'\0041';
    }
  }
}
